.container {
  padding: 2rem;
}

.table {
  width: 100%;
  margin-top: 24px;
  border-collapse: collapse;
}

.table th, .table td {
  border: 1px solid #eee;
  padding: 8px 12px;
  text-align: left;
}

.form {
  margin-bottom: 2rem;
}

.select,
.input {
  margin-left: 1rem;
  margin-right: 2rem;
}

.statusSelect {
  min-width: 120px;
}

.message {
  margin-bottom: 1rem;
  color: #008060;
}
