.productsContainer {
  padding: 2rem;
}
.formWithMargin {
  margin-bottom: 2rem;
}
.inputWithMargin {
  margin-left: 1rem;
  margin-right: 2rem;
}
.productImage {
  max-width: 120px;
  margin-top: 4px;
}
